Hud {
    .info {
        position: absolute;
        left: 0px;
        bottom: 0px;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(black, 0.5);
        backdrop-filter: blur(10px);

        * {
            margin: 1px;
        }

        label {
            font-family: 'Segoe UI';
            color: black;
            font-size: 24px;

            &#salary {
                color: black;
                // text-shadow: 2px 2px green, 3px 3px green, 4px 4px green;
                filter: border-wrap(2px darkgreen);
            }

            &#job {
                filter: border-wrap(2px darkblue);
            }

            &#money {
                filter: border-wrap(2px darkblue);
            }
        }

        #health-bar {
            color: white;
            background-color: black;
            width: 300px;
            margin-top: 10px;

            label {
                padding: 1px 0px;
                text-align: center;
                background-color: darkred;
                width: 100%;
                color: white;
            }
        }
    }
}
