@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@attribute [StyleSheet]


<root>
    <div class="info">
        <label id="salary">Salary: @jobWage</label>    
        <label id="job">Job: @jobName</label>
        <label id="money">Wallet: $0</label>
        <div id="health-bar">
        <label id="health">@Game.LocalPawn.Health</label>
        </div>
    </div>
</root>

@code
{

    string[] job;
    string jobName;
    string jobWage;


    public override void Tick()
    {
        base.Tick();
        try
        {
            job = Game.LocalClient.GetValue<string>("job").Split(";");
            jobName = job[0];
            jobWage = job[2];
            StateHasChanged();
        }
        catch
        {
            // Something could go here
        }

    }

}