@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@attribute [StyleSheet]


<root>
    <div class="info">
        <label id="salary">Salary: @jobWage</label>    
        <label id="job">Job: @jobName</label>
        <label id="money">Wallet: @money</label>
        <div id="health-bar">
            <div id="hp-bar" style="width:@healthAsPercent"></div>
        <label id="health" style="left:@healthPosition">@Health</label>
        </div>
    </div>
</root>

@code
{
    static PlayerInfo Instance;
    Player localPlayer;
    public float MaxHealth = Game.LocalPawn.Health ;
    int Health = 100;
    string healthPosition = "150px";
    string jobName = "";
    string jobWage = "";
    string money = "$0";
    string healthAsPercent = "100%";


    public override void Tick()
    {
        base.Tick();
        
        if(Instance == null)
        {
            Instance = this;
            PlayerInfo.UpdateInfo();
        }

    }

    [ClientRpc]
    public static void UpdateInfo()
    {
        if (Instance != null)
        {
            Instance.localPlayer = (Game.LocalPawn as Player);
            Job job = Instance.localPlayer.Job;
            Instance.jobName = job.Name;
            Instance.jobWage = job.FormattedWage;
            Instance.money = Instance.localPlayer.FormattedMoney;
            Instance.Health = (int)Game.LocalPawn.Health;
            Instance.healthPosition = $"{150 - Instance.Health.ToString().Length * 5}px";
            Instance.healthAsPercent = (Instance.Health / (Instance.MaxHealth / 100)).ToString() + "%";
            Instance.StateHasChanged();
        }
    }

}