@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@attribute [StyleSheet]


<root>
    @if (activeWeapon != null)
    {
        <div class="info">
            <h3>@activeWeapon.CurrentAmmo/@activeWeapon.MagSize | @activeWeapon.ReserveAmmo</h3>
        </div>
    }
</root>

@code
{
    static WeaponInfo Instance;
    Player localPlayer = Game.LocalPawn as Player;
    Weapon activeWeapon;




    public override void Tick()
    {
        base.Tick();

        if(Instance == null)
        {
            Instance = this;
            activeWeapon = localPlayer.ActiveChild as Weapon;
            WeaponInfo.UpdateInfo();
        }
        if (activeWeapon != null)
        {
            StateHasChanged();
        }

    }

    [ClientRpc]
    public static void UpdateInfo()
    {
        if (Instance != null)
        {
            Instance.StateHasChanged();
        }
    }

}