@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]
 @if (Hidden == false)
{
    <root>

        <div class="menu-container flex-column">
            <h1 class="center-text header-font">Available Jobs</h1>
            <div class="jobs-container flex-column">
                @foreach (var entry in jobs)
                {
                    if (entry.Value.Name != (Game.LocalPawn as Player).Job.Name)
                    {
                        <div class="job-card flex-column" onclick="@(() => ConsoleSystem.Run("switch_job", entry.Key))">
                            <h3 class="job-text center-text">@entry.Value.Name</h3>
                            @if (entry.Value.MaxPlayers != 0)
                            {
                                <h4 class="center-text">@entry.Value.CurrentNumberOfPlayers/@entry.Value.MaxPlayers</h4>
                            }
                            else{
                                <h4 class="center-text">@entry.Value.CurrentNumberOfPlayers</h4>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    
    </root>
 }

@code
{
    static JobMenu Instance;
    IDictionary<string, Job> jobs;
    bool Hidden { get; set; } = true;


    public void ToggleUI() {

        Hidden = !Hidden;
        Mouse.Position = new Vector2 { x = Screen.Width/2, y = Screen.Height/2 };
        StateHasChanged();
    }

    public override void Tick() {
        base.Tick();

        if (Input.Pressed("jobtoggle")) 
        {
            ToggleUI();
        }

        if(Instance == null)
        {
            Instance = this;
        }

        if(jobs == null)
        {
            jobs = (GameManager.Current as SimpleRp).Jobs;
        }

    }

    [ClientRpc]
    public static void UpdateInfo()
    {
        if (Instance != null)
        {
            Instance.StateHasChanged();
        }
    }

}
