@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

@if (hidden == false)
{
    <root>
        <div class="playerlist-container center">
            <h1 class="center">Players</h1>
            <div class="line">
                @foreach (Player player in (GameManager.Current as MyGame).Players.Values) {
                    <div class="player-container">
                        <h3>@player.Client.Name</h3>
                        <h3>@player.Client.Ping</h3>
                        @if (player.Job != null)
                        {
                            <h3>@player.Job.Name</h3>
                        }
                    </div>
                }
            </div>
        </div>
    </root>
}

@code
{
    static PlayerList Instance;

    bool hidden = true;

    private void TogglePlayerList()
    {
        hidden = !hidden;
        Mouse.Position = new Vector2 { x = Screen.Width / 2, y = Screen.Height / 2 };
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if (Input.Pressed("playerlisttoggle"))
        {
            TogglePlayerList();
        }

        if (Instance == null)
        {
            Instance = this;
        }
    }

    [ClientRpc]
    public static void UpdateInfo()
    {
        if(Instance != null)
        {
            Instance.StateHasChanged();
        }
    }


}
