@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

@if (hidden == false)
{
    <root>
        <table id="playerlist-table" class="center">
        <h1 id="playerlist-title" class="center">Players</h1>
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Job</th>
                    <th id="ping">Ping</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Player player in (GameManager.Current as MyGame).Players.Values) {
                    <tr>
                        <td>@player.Client.Name</td>
                        @if (player.Job != null)
                        {   
                            <td>@player.Job.Name</td>
                        }
                        <td>@player.Client.Ping</td>
                    </tr>
                }
            </tbody>
        </table>
    </root>
}

@code
{
    static PlayerList Instance;

    bool hidden = true;

    private void TogglePlayerList()
    {
        hidden = !hidden;
        Mouse.Position = new Vector2 { x = Screen.Width / 2, y = Screen.Height / 2 };
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if (Input.Pressed("playerlisttoggle"))
        {
            TogglePlayerList();
        }

        if (Instance == null)
        {
            Instance = this;
        }
    }

    [ClientRpc]
    public static void UpdateInfo()
    {
        if(Instance != null)
        {
            Instance.StateHasChanged();
        }
    }


}
